*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS';
    background-color: rgb(204, 125, 151);
}
button{
    font-family: 'Trebuchet MS';
    border: none;
    border-radius: 2%;
}
button:hover{
    cursor: pointer;
    /* border-bottom: 7px solid rgb(236, 200, 214); */
}
#header{
    width: 100%;
    height: 170px;
    margin-top: 0;
    background-color: rgb(187, 52, 97);
}
#header-title{
    color: aliceblue;
    margin-left: 25%;
    padding-top: 20px;
    font-size: 55px;
    margin-bottom: 15px;
}
#header-subtitle{
    color: rgb(235, 176, 208);
    margin-left: 26%;
}
#action-div{
    margin-top: 50px;
    width: 600px;
    margin-left: 24%;
    margin-bottom: 35px;
}
#random-button{
    width: 100%;
    background-color: rgb(187, 52, 97);
    color: rgb(236, 186, 201);
    font-size: 35px;
    height: 80px;
}
#main-div{
    width: 600px;
    margin-left: 24%;
    background-color: rgb(187, 52, 97);
}
#remove-all-sub{
    width: 100%;
    height: 50px;
    border-bottom: 10px solid rgb(204, 125, 151);
}
#options-title{
    float: left;
    color: rgb(243, 217, 226);
    margin-left: 15px;
    margin-top: 7px;
    padding: 5px;
    vertical-align: middle;
    font-size: 25px;
}
#remove-all-button{
    margin-left: 240px;
    color: aliceblue;
    background-color: rgb(187, 52, 97);
    width: 80px;
    height: 10px;
    vertical-align: middle;
    text-align: center;
    margin-top: 15px;
}
#option-div{
    width: 100%;
    height: 45px;
    border-bottom: 3px solid rgb(204, 125, 151);
}
#option-text{
    float: left;
    color: rgb(228, 159, 182);
    padding: 7px;
    font-size: 20px;
}
#remove-option{
    margin-right: 10px;
    float: right;
    margin-top: 12px;
    color: rgb(231, 167, 194);
    background-color: rgb(187, 52, 97);
    position: static;
}
#form-add{
    width: 100%;
    height: 60px;
}
#input-add{
    width: 280px;
    vertical-align: middle;
    padding-left: 5px;
    margin-top: 13px;
    margin-left: 15px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(231, 165, 187);
    color: rgb(187, 52, 97);
    border: none;
    border-radius: 2%;
}
#submit-add{
    margin-right: 10px;
    width: 50px;
    height: 20px;
    font-size: 15px;
    border-radius: 2%;
    float: right;
    margin-top: 17px;
    color: rgb(187, 52, 97);
    background-color: rgb(218, 154, 175);
    position: static;
}